#fullpage.no-scroll {
  overflow-y: hidden;
  max-height: 100vh;
}

.section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section.one {
  background-image: url(../media/1.avif);
}

.section.two {
  background-image: url(../media/2.avif);
}

.section.three {
  background-image: url(../media/3.avif);
}

.section.four {
  background-image: url(../media/4.avif);
}

.section.five {
  background-image: url(../media/5.avif);
}

.section_content {
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-color);
}

.section_content_title {
  font-size: 5.3rem;
  font-weight: 530;
  margin-bottom: 0.5rem;
}

.section_content_subtitle {
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: underline;
  text-underline-position: under;
}

.section_content_subtitle a {
  color: inherit;
}

.section_content_subtitle a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.section_action_container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section_action_btn {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  /* padding: 2px 10px; */
  border-radius: 2rem;
  flex-basis: 80%;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.action_btn_primary {
  background: rgba(23, 26, 42, 0.8);
  color: white;
  padding: 15px 40px !important;
  margin-right: -50px;
  margin-bottom: 80px;
  /* width: 150%; */
}

.action_btn_secondary {
  background: rgba(255, 255, 255, 0.65);
  color: var(--primary-color);
  padding: 15px 40px !important;
  margin-left: -50px;
  margin-bottom: 80px;
  /* width: 150%; */
}